.graph{
    background: transparent;
    width:100%;
    // height: 100%;
    overflow: hidden;
    color: white;
    padding:0;
    height: 40vh;
    
    .graphHeading{
        width:100%;
        // height:5vh;
        font-size: 20px;
        margin: 0;
        padding-bottom: 2.5vh;
    }

    .graphRow{
        background: transparent;
        height: 30vh;
        width:100%;
        margin: 0;
        padding: 0;
        &>*{
            padding: 0;
            width:100%;
            height: 100%;
        }

        .headingSide{
            position: relative;
            height: 25vh;

            span{
                position: absolute;

                &:nth-child(1){
                    top:0
                }
                &:nth-child(2){
                    top:50%;
                    transform: translate(0%,-50%);
                }
                &:nth-child(3){
                    bottom:0
                }
            }

        }

        table{
            width:100%;
            height: 100%;
            // text-align: center;
            // align-content:center;

            td{
                text-align: center;
            }
        }
        
        .progress{
            margin: 0 auto;
            width:10px;
            padding: 0;
            height:25vh;
            position: relative;
            // border: 1px solid red;
            transform: rotate(180deg);
            background: transparent;
            transition: .2s;
        
            .dashed{
                height:100%;
                border-left:2px dashed #1e1d46;;
                position: absolute;
                left:50%;
                background: transparent;
                // transform: rotate(90deg);
            }
        
            .bar{
                border-radius: 50px;
                position: relative;
                width: 100%;
                // height: 0;
                background-color: #1e1d46;
                animation: 2s bar;
                // animation-delay: ;
                transition: 0.5s;
            }

            &:hover .bar{
                background-color: #f8c500;
                transition: .2s;
            }
        }

    }
}


    

@keyframes bar{
    0%{
        height:0%;
    }
}